body{
  background-color: teal;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box{
  width:200px;
  height: 200px;
  border-radius: 50%;
  border-color: white transparent white transparent;
  border-width:7px ;
  border-style:solid;
  
  animation: spin 1.5s linear infinite;
}

@keyframes spin{
 to{
     transform:rotate(360deg);
 }
}
